.h-100 {
  height: 100vh;
}
.colo4 {
  color: #1d293a;
}
.colo4:hover {
  color: grey;
}
.fade1 {
  color:#898C96;
}
.fade2 {
  color:#6C707C;
}
.bg-blue1 {
  background-color: #1d293a;
}
.bg-blue2 {
  background-color: #0f1722;
}
.bg-blue4 {
  background-color: #151e2b;
}
.bg-blue3 {
  background-color: #6c63ff;
}
.height-70 {
  height: 70vh;
}
.height-80 {
  height: 80vh;
}
.btn-hover:hover,
.active {
  background-color: #6c63ff;
}
.calc-btn {
  background: #354357;
}
.calc-btn:hover {
  background: #6c63ff;
}
