.h-100 {
  height: 100vh;
}
.bg-blue1 {
  background-color: #1d293a;
}
.bg-blue2 {
  background-color: #0f1722;
}
.bg-blue3 {
  background-color: #6c63ff;
}
.height-70{
    height:70vh;
}
.height-80{
    height:80vh;
}